<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836352732926-lkkgcl8uaor05g5bltkgdegog3h1uu9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836352732926-lkkgcl8uaor05g5bltkgdegog3h1uu9p</string>
	<key>API_KEY</key>
	<string>AIzaSyCF0OxYtbab9_qzWLDAjz9oxtABfV4sKXU</string>
	<key>GCM_SENDER_ID</key>
	<string>836352732926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aksenkode.akcTaskReminderApp</string>
	<key>PROJECT_ID</key>
	<string>akc-task-reminder-app</string>
	<key>STORAGE_BUCKET</key>
	<string>akc-task-reminder-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836352732926:ios:986cf9016d286507073faf</string>
</dict>
</plist>